<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fidelitycrmutilities-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d22bff4-7f8a-471f-989f-7006fc5cd66c/resourceGroups/CRM_Adviser_Integration_TST/providers/Microsoft.Web/sites/fidelitycrmutilities-test</ResourceId>
    <UserName>$fidelitycrmutilities-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fidelitycrmutilities-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>